body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
}

.logo-text {
    margin-left: 10px;
    font-size: 18px; 
    font-weight: bold;
    position: relative;
    bottom: 20px;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-label {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

nav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

nav button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

nav button:hover,
nav button.active {
    background-color: #0056b3;
}


/* Container to hold the Save Draft button on the right side */
.sub-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 0px 20px 0;
}

/* Save Draft button styling */
.save-draft {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    margin-left: 20px;
}

.save-draft:hover {
    background-color: #0056b3;
}

/* Export Data button styling */
.export-data {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    margin-left: 20px;
}

.export-data:hover {
    background-color: #218838;
}


.report-section,
.rob-table .tab-content {
    display: none;
}

#NoonReport {
    display: block;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px; 
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    font-size: 14px; 
    margin-bottom: 5px;
}

#robDetailsTable input, 
#windForceDir input, 
#robDetailsTable input,  
.tab-content table input
, #allFastRobTable input {
    text-align: center !important;
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="datetime-local"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    font-size: 12px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

select,
input[type="datetime-local"] {
    border: 1px solid #ccc; 
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
}

.four-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.four-columns .form-group {
    flex: 1 1 22%;
    margin-right: 10px;
}

.four-columns .form-group:last-child {
    margin-right: 0;
}

.two-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.two-columns .form-group {
    flex: 1 1 48%;
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
    margin-bottom: 15px; /* Adds some space between rows */
    margin-right: 10px;
}

.two-columns .form-group:nth-child(2n) {
    margin-right: 0; /* Removes the right margin for the last item in the row */
}

.two-columns .form-group input {
    width: 100%; /* Ensures the input field takes the full width of its parent container */
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
    
}

textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 180px;
    resize: vertical;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"]:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.rob-section {
    display: none;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode form {
    background-color: #444;
    color: #f4f4f4;
}

body.dark-mode input[type="text"],
body.dark-mode input[type="number"],
body.dark-mode input[type="datetime-local"],
body.dark-mode input[type="date"],
body.dark-mode input[type="email"],
body.dark-mode select,
body.dark-mode textarea {
    background-color: #555 !important;
    color: #f4f4f4;
    border: 1px solid #666;
}

body.dark-mode fieldset {
    border: 1px solid #666;
}

.additional-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rob-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.rob-table th,
td {
    padding: 8px;
    text-align: center;
    font-size: 14px
}

.rob-table th {
    background-color: #f2f2f2;
    border-bottom: 2px solid #ddd;
}

.rob-table td {
    border-bottom: 1px solid #ddd;
}

.rob-table select,
input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.nav-tabs {
    display: flex;
    justify-content: flex-start;
}

.w3-bar .w3-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0 20px 20px;
}

.w3-bar .w3-button:hover,
.w3-bar .w3-button.active {
    background-color: #0056b3;
}

.w3-bar .add-new-port.active {
    background-color: #007BFF;
}

.w3-bar .add-new-port:hover {
    background-color: #0056b3;
}

.checkbox-container {
    display: flex;
}

.checkbox-container .vlsfo-label {
    display: flex;
    flex-direction: column;
    flex: unset !important;
}

/* All fast remove button style */
.remove-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.remove-button:hover {
    background-color: darkred;
    transform: scale(1.05);
}

.right-remove-button {
    float: right;
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.right-remove-button:hover {
    background-color: darkred;
    transform: scale(1.05);
}

.right-remove-button:active {
    background-color: #d22;
    transform: scale(1);
}


/* All fast remove button style */
.add-row-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-row-weekly-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.add-row-weekly-button:active {
    background-color: #004494;
    transform: scale(1);
}

.add-row-weekly-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-row-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.add-row-button:active {
    background-color: #004494;
    transform: scale(1);
}

.additional-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: -5px;
}

#weeklyScheduleTable {
    margin-bottom: 20px;
}

#weeklyScheduleTableAgents {
    margin-bottom: 20px;
}

/* Table Screen View */

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    nav button {
        padding: 8px 15px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    .toggle-container {
        margin-top: 10px;
    }
}


/* Mobile Screen View */

@media (max-width: 480px) {
    .logo-text {
        font-size: 16px;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav button {
        margin-bottom: 10px;
    }

    label {
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="datetime-local"],
    input[type="date"],
    select,
    textarea {
        width: 100%;
    }

}

/* Add border-right color red to all elements with required attribute */

form .form-group input[required],
form .form-group select[required],
form .form-group textarea[required] {
    border-right: 2px solid red;
}

/* Add border-right color red to all elements with required attribute in dark mode */

body.dark-mode form .form-group input[required],
body.dark-mode form .form-group select[required],
body.dark-mode form .form-group textarea[required] {
    border-right: 2px solid red;
}

.dynamic-section {
    display: none;
}

/* Styling for the search results container */
#noon-voyage-details-port-results,
#noon-voyage-itinerary-port-results,
#noon-details-since-last-report-next-port-results,
#departure-voyage-details-departure-port-results,
#departure-details-since-last-report-next-port-results,
#departure-voyage-itinerary-port-results,
#arrival-voyage-details-port-results,
#bunkering-details-bunkering-port-results,
#allfast-voyage-details-port-results {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    max-height: 150px;
    overflow-y: hidden;
    z-index: 1000; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Highlight result item on hover */
#noon-voyage-details-port:hover,
#noon-voyage-itinerary-port:hover,
#noon-details-since-last-report-next-port:hover,
#departure-voyage-details-departure-port:hover,
#departure-details-since-last-report-next-port:hover,
#departure-voyage-itinerary-port:hover,
#arrival-voyage-details-port:hover,
#bunkering-details-bunkering-port:hover,
#allfast-voyage-details-port:hover {
    cursor: pointer;
    border-color: #007bff;
}

/* Specific styles for all report results */
#noon-voyage-details-port-results {
    width: 17%;
    top: 422px; 
}

#noon-details-since-last-report-next-port-results {
    width: 16.5%; 
    top: 709px; 
}

#noon-voyage-itinerary-port-results {
    width: 16.5%; 
    top: 1171px; 
}

#departure-voyage-details-departure-port-results {
    width: 17%; 
    top: 423px; 
}

#departure-details-since-last-report-next-port-results {
    width: 167%; 
    top: 709px; 
}

#departure-voyage-itinerary-port-results {
    width: 16.5%; 
    top: 1057px; 
}

#arrival-voyage-details-port-results {
    width: 16.8%; 
    top: 423px; 
}

#bunkering-details-bunkering-port-results {
    width: 16.5%; 
    top: 363px; 
}

#allfast-voyage-details-port-results {
    width: 69%; 
    top: 422px; 
}

/* Styling for each result item */
#noon-voyage-details-port-results .result-item,
#noon-voyage-itinerary-port-results .result-item,
#noon-details-since-last-report-next-port-results .result-item,
#departure-voyage-details-departure-port-results .result-item,
#departure-details-since-last-report-next-port-results .result-item,
#departure-voyage-itinerary-port-results .result-item,
#arrival-voyage-details-port-results .result-item,
#bunkering-details-bunkering-port-results .result-item,
#allfast-voyage-details-port-results .result-item,
.weekly-port-search-results .result-item {
    padding: 8px 12px; /* Slightly smaller padding */
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-size: 14px; /* Adjust font size to be slightly smaller */
    text-align: left;
}

/* Highlight result item on hover */
#noon-voyage-details-port-results .result-item:hover,
#noon-voyage-itinerary-port-results .result-item:hover,
#noon-details-since-last-report-next-port-results .result-item:hover,
#departure-voyage-details-departure-port-results .result-item:hover,
#departure-details-since-last-report-next-port-results .result-item:hover,
#departure-voyage-itinerary-port-results .result-item:hover,
#arrival-voyage-details-port-results .result-item:hover,
#bunkering-details-bunkering-port-results .result-item:hover,
#allfast-voyage-details-port-results .result-item:hover,
.weekly-port-search-results .result-item:hover {
    background-color: #f1f1f1;
}

/* Adjusting for dark mode */
body.dark-mode #noon-voyage-details-port-results,
body.dark-mode #noon-voyage-itinerary-port-results,
body.dark-mode #noon-details-since-last-report-next-port-results,
body.dark-mode #departure-voyage-details-departure-port-results,
body.dark-mode #departure-details-since-last-report-next-port-results,
body.dark-mode #departure-voyage-itinerary-port-results,
body.dark-mode #arrival-voyage-details-port-results,
body.dark-mode #bunkering-details-bunkering-port-results,
body.dark-mode #allfast-voyage-details-port-results,
body.dark-mode .weekly-port-search-results {
    background-color: #444;
    color: #f4f4f4;
    border: 1px solid #666;
}

body.dark-mode #noon-voyage-details-port-results .result-item:hover,
body.dark-mode #noon-voyage-itinerary-port-results .result-item:hover,
body.dark-mode #noon-details-since-last-report-next-port-results .result-item:hover,
body.dark-mode #departure-voyage-details-departure-port-results .result-item:hover,
body.dark-mode #departure-details-since-last-report-next-port-results .result-item:hover,
body.dark-mode #departure-voyage-itinerary-port-results .result-item:hover,
body.dark-mode #arrival-voyage-details-port-results .result-item:hover,
body.dark-mode #bunkering-details-bunkering-port-results .result-item:hover,
body.dark-mode #allfast-voyage-details-port-results .result-item:hover,
body.dark-mode .weekly-port-search-results .result-item:hover {
    background-color: #555;
}

/* Make sure the input field is in focus with border change */
#noon-voyage-details-port:focus,
#noon-voyage-itinerary-port:focus,
#noon-details-since-last-report-next-port:focus,
#departure-voyage-details-departure-port:focus,
#departure-details-since-last-report-next-port:focus,
#departure-voyage-itinerary-port:focus,
#arrival-voyage-details-port:focus,
#bunkering-details-bunkering-port:focus,
#allfast-voyage-details-port:focus,
.weekly-schedule-details-port-1-results:focus {
    border-color: #007BFF;
    outline: none;
}

input:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed; 
}

/* General styling for select elements inside the table */
table select.oil-grade-select,
select.fuel-grade-select,
select.unit-select,
select.wind-force-select,
select.wind-direction-select,
select.swell-direction-select,
select.sea-direction-select,
select.sea-ds-select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    padding: 6px 10px 6px 10px;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Hover and focus effects for all select elements */
table select.oil-grade-select:hover,
select.fuel-grade-select:hover, 
select.unit-select:hover,
select.wind-force-select:hover,
select.wind-direction-select:hover, 
select.swell-direction-select:hover, 
select.sea-direction-select:hover,
select.sea-ds-select:hover {
    border-color: #007bff;
}

table select.oil-grade-select:focus,
select.fuel-grade-select:focus,
select.unit-select:focus,
select.wind-force-select:focus,
select.wind-direction-select:focus, 
select.swell-direction-select:focus, 
select.sea-direction-select:focus,
select.sea-ds-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Custom arrow for all select elements */
table td.oil-grade-select-cell,
table td.fuel-grade-select-cell,
table td.unit-select-cell,
table td.wind-force-select-cell,
table td.wind-direction-select-cell,
table td.swell-direction-select-cell,
table td.sea-direction-select-cell,
table td.sea-ds-select-cell {
    position: relative;
}

table td.oil-grade-select-cell::after,
td.fuel-grade-select-cell::after,
td.unit-select-cell::after,
td.wind-force-select-cell::after,
td.wind-direction-select-cell::after,
td.swell-direction-select-cell::after,
td.sea-direction-select-cell::after,
td.sea-ds-select-cell::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #007bff;
    font-size: 12px;
}

/* Width adjustments for select-cell classes */
table td.oil-grade-select-cell {
    width: 9%;
}

table td.fuel-grade-select-cell {
    width: 8%;
}

table td.unit-select-cell {
    width: 6%;
}

table td.wind-force-select-cell {
    width: 14%; /* Wider width for wind-force-select-cell */
}

table td.wind-direction-select-cell,
table td.swell-direction-select-cell,
table td.sea-direction-select-cell,
table td.sea-ds-select-cell {
    width: 11%; /* Adjust width for other select-cell classes */
}

/* Styling the input field for supply date */
table input.supply-date-cell {
    width: 80%;
    height: 18px;
    padding: 5px 30px 5px 10px; /* Extra padding on the right for the icon */
    font-size: 12px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Hover and focus effects for supply date input */
table input.supply-date-cell:hover {
    border-color: #007bff;
}

table input.supply-date-cell:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

/* Custom calendar icon for supply date input */
table td.supply-date-cell::after {
    content: '\1F4C5'; /* Unicode for calendar emoji or replace with a custom icon */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #007bff;
    font-size: 14px;
}

/* General styling for select elements */
select.common-select{
    -webkit-appearance: none;
    width: 100%;
    height: 26px;
    padding: 2px 30px 2px 10px;
    font-size: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Hover and focus effects for select elements */
select.common-select:hover {
    border-color: #007bff;
}

select.common-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}


.common-select-container {
    position: relative;
}

.common-select-container::after {
    content: '\25BC';
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #007bff;
    font-size: 12px;
}

.common-date {
    width: 96%;
    height: 16px;
    background-color: #ffffff !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.common-date:hover {
    border-color: #007bff !important;
}

.common-date:focus {
    border-color: #007bff !important;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.tabs .tab-link {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0 20px 10px;
    display: inline-block;
}

.tabs .tab-link:hover {
    background-color: #0056b3;
}

.tabs .tab-link.active {
    background-color: #0056b3;
}
